/* 公共样式 */
body{
    text-align: center;
    /* 禁止复制 */
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}
.hide{
    display: none;
}
.gtco-header{
    padding-top: 300px;
    height: 750px;
    background-image: url('/imgs/k1.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.fadeIn{
    color: white;
    font-weight: bold;
}
.fadeIn p:nth-child(1){
    font-family: "HK Grotesk Legacy";
    color: #FFC576;
    font-size: 40px;
    line-height: 42px;
    font-weight: 500;
}
.fadeIn p:nth-child(2){
    font-size: 100px;
    line-height: 100px;
    font-family: "Playfair Display", serif;
    margin: 12px 0 0;
}
.fadeIn p:nth-child(3){
    font-family: "HK Grotesk Legacy";
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    margin: 46px 0 0;
}









/* PC端 */
@media (min-width: 769px) and (max-width: 3000px) {     
    .hide-pc{
        display: none;
    }
    .container-fluid,.row,ul{
        margin: 0;
        padding: 0;
    }
    /* 菜单start */
    .logo{
        background: url('/imgs/logo.png') no-repeat center center;
        background-size: 10%;
    }
    .logo a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
        background: url('/imgs/logo.png') no-repeat center center;
        background-size: 100%;
    }
    .head-row{
        position: absolute;
        top : 20px;
        height: 70px;
        line-height: 70px;
        background-color: transparent;
        color: white;
        width: 100%;
        z-index: 905;
    }
    .one-menu-li,.one-menu-li a{    
        text-decoration: none;   
        font-size: 16px;
        padding: 0 10px;
        color: rgba(255, 255, 255, 0.5);
        position: relative;
        cursor: pointer;
    }
    .one-menu-li:hover{
        color: white;
    }
    .two-menu:before{
        content: "";
        border-bottom: 10px solid rgba(255,255,255,.3);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        top: -10px;
        left: 40%;
    }
    .two-menu{
        position: absolute;
        top: 70px;
        left: -20px;
        width: 120px;
        background-color: rgba(255,255,255,.3);
        padding: 10px;
        border-radius: 5px;
        display: none;
    }
    .two-menu ul li{
        line-height: 35px;
    }
    .two-menu a{
        color: rgba(255,255,255,.8)!important;
    }
    .two-menu a:hover{
        color: white!important;
    }
    .login-btn{             /* 登录按钮 */
        font-size: 14px;
        background-color: white;
        border-radius: 16px;
        padding: 5px 20px;
        color: #52d3aa;
        cursor: pointer;
    }
    .login-btn:hover{            
      box-shadow: 0 10px 15px rgba(0,0,0,.2);
    }
    /* 菜单end */
    /*登录start*/
    .logindiv{
        position: fixed;
        top : -400px;
        right: 130px;
        /* left: 45%; */
        width: 400px;
        height: 400px;
        z-index: 900;
        background-color: #494657;
        border-radius: 10px;
        padding: 15px 20px;
        background: url('/imgs/loginbg.jpg') no-repeat;
        background-size: 100%;
    }
    .cancel-login{
        cursor: pointer;
    }
    input{        /* 输入框去除边框 */
        outline:medium;
    }
    .acc,.pwd,.pwd2,.valieCode,.valieCode2,.loginVal{
        background: transparent;
        border : 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.9);
        width: 75%;
        height: 30px;
        margin-top: 10px;
        color: white;
    }
    .code-bt,.code-bt2,.loginCode-bt{
        width: 100%;
    }
    .valieCode,.valieCode2,.loginVal{            /* 验证码输入框 */
        width: 190px;
    }
    .getVal,.getCode,.getCode2{                /* 获取验证码的按钮 */
        color: rgba(255, 255, 255, 0.5);
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.5);
        cursor: pointer;
        border-radius: 3px;
        padding: 5px 3px;
        font-size: 14px;
        width: 110px;
    }
    .login-form{
        margin-top: 10px;
    }
    .lock-regin{
        margin-left: 12.5%;
        position: absolute;
        bottom: 10px;
        width: 100%;
    }
    .lock{
        padding-left: 20px;
        font-size: 14px;
        color: white;
        cursor: pointer;
        background: url('/imgs/lock.png') no-repeat left center;
        background-size: 20%;
    }
   
    .reginspan,.loginspan{
        font-size: 14px;
        color: white;
        margin-left: 20%;
    }
    .regin-a,.login-a{
        font-weight: bold;
        cursor: pointer;
        color: #5d9cec!important;
    }
    .login-sub{
        margin-top: 40px;
    }

    .login-bt,.regin-bt,.submit-bt{
        margin-left: 12.5%;
        width: 75%;
        line-height: 35px;
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }
    .login-bt:hover,.regin-bt:hover,.submit-bt:hover{
        border: 1px solid rgba(255, 255, 255, 0.7);
        color: rgba(255, 255, 255, 0.7);
    }
    .stopClick{     /* 禁止点击 */
        pointer-events:none;
    }
    
    /*登录end*/

    /* 博客data */
    .blog-data-row{
        background: url('/imgs/blogbg.jpg') no-repeat;
        background-size: cover;
        position: relative;
    }
    .blog-data-row div{
        padding: 130px 0;
    }
    .blog-data-row p:nth-child(2){  /*bfbfbf*/
        font-size: 50px;
        margin-bottom: 10px;
        color: #fff;
        font-weight: 100;
    }
    .blog-data-row p:nth-child(3){
        margin-bottom: 0;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
        letter-spacing: .1em;
    }
    /* me */
    .me{
        padding-left: 2%;
    }
    .me img{
        width: 90%;
        height: 400px;
    }
    .me-row{
        padding: 100px 0;
    }
    .me-intro P:nth-child(1){
        color: #FFC576;
        line-height: 17px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: left;
    }
    .me-intro P:nth-child(2){
        font-size: 40px;
        line-height: 52px;
        margin: 26px 0 0;
        color: white;
        text-align: left;
    }
    .me-intro P:nth-child(3){
        font-family: "HK Grotesk Legacy";
        color: #ffffff;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0;
        line-height: 26px;
        text-align: left;
        text-indent: 30px;
        margin-top: 15px;
    }
    .me-intro P:nth-child(4) a{
        text-decoration: none;
        color: white;
        font-family: "HK Grotesk Legacy";
        font-size: 12px;
    }
}






/* 移动端-mob */
@media (min-width: 0) and (max-width: 768px) {     
    .hide-mob{
        display: none;
    }
    /* 菜单start */
    .mob-menu{
        position: absolute;
        top:0;
        z-index: 901;
    }
    .head-mob-row1{
        height: 60px;
        line-height: 60px;
        background-color: transparent;
    }
    .mob-logo{
        background: url('/imgs/logo.png') no-repeat 15% center;
        background-size: 35%;
    }
    .menu-bt{
        padding-right: 3%;
    }
    .menu-div{
        position: fixed;
        top : 0;
        right: -75%;
        bottom: 0;
        background-color: transparent;
        color: rgb(255, 255, 255);
        background: url('/imgs/loginbg.jpg') no-repeat;
        background-size: cover;
    }
    .cancel-bt{
        height: 60px;
        line-height: 60px;
        padding-right: 0;
    }
    .one-menu-mob li,.one-menu-mob a{
        font-size: 16px;
        text-decoration: none;
        color: white;
        line-height: 40px;
        position: relative;
    }
    .one-menu-mob li[show='true']:after {
        position: absolute;
        right: 25px;
        top: 13px;
        content: " ";
        display: inline-block;
        height: 10px;
        width: 10px;
        border-width: 2px 2px 0 0;
        border-color: #FFFFFF;
        border-style: solid;
        -webkit-transform: matrix(-0.71, 0.71,0.71, 0.71, 0, 0);
        transform: matrix(0.71, -0.71, -0.71, -0.71, 9, 1);   
    }
    .down:after{
        transform: matrix(-0.71, 0.71, -0.71, -0.71, 12, -4)!important;
    }
    .two-menu-mob{
        padding-left: 30%;
        display: none;
    }
    .two-menu-mob ul li,.two-menu-mob ul li a{
        line-height: 30px!important;
    }
    /* 菜单end */

    /* 登录start */
    .mob-login-div{
        position: fixed;
        top: 0;
        bottom: 0;
        right: -100%;
        width: 100%;
        background: url('/imgs/loginbg.jpg') no-repeat;
        background-size: cover;
        z-index: 903;
        padding: 20px 20px;
    }
    .mob-logo-div{
        margin: 10px 0;
    }
    .logindiv{
        position: fixed;
        top : -400px;
        right: 130px;
        width: 400px;
        height: 400px;
        z-index: 900;
        background-color: #494657;
        border-radius: 10px;
        padding: 15px 20px;
        background: url('/imgs/loginbg.jpg') no-repeat;
        background-size: 100%;
    }
    .cancel-login{
        cursor: pointer;
    }
    input{        /* 输入框去除边框 */
        outline:medium;
    }
    .acc,.pwd,.pwd2,.valieCode,.valieCode2,.loginVal{
        background: transparent;
        border : 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.9);
        width: 75%;
        height: 30px;
        margin-top: 10px;
        color: white;
    }
    .code-bt,.code-bt2,.loginCode-bt{
        width: 100%;
    }
    .valieCode,.valieCode2,.loginVal{            /* 验证码输入框 */
        width: 170px;
    }
    .getVal,.getCode,.getCode2{                /* 获取验证码的按钮 */
        color: rgba(255, 255, 255, 0.5);
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.5);
        cursor: pointer;
        border-radius: 3px;
        padding: 5px 3px;
        font-size: 14px;
        width: 110px;
    }
    .login-form{
        margin-top: 10px;
    }
    .lock-regin{
        margin-left: 12.5%;
        position: absolute;
        bottom: 10px;
        width: 100%;
    }
    .lock{
        padding-left: 20px;
        font-size: 14px;
        color: white;
        cursor: pointer;
        background: url('/imgs/lock.png') no-repeat left center;
        background-size: 20%;
    }

    .reginspan,.loginspan{
        font-size: 14px;
        color: white;
        margin-left: 12%;
    }
    .regin-a,.login-a{
        font-weight: bold;
        cursor: pointer;
        color: #5d9cec!important;
    }
    .login-sub{
        margin-top: 40px;
    }

    .login-bt,.regin-bt,.submit-bt{
        margin-left: 12.5%;
        width: 75%;
        line-height: 35px;
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }
    .login-bt:hover,.regin-bt:hover,.submit-bt:hover{
        border: 1px solid rgba(255, 255, 255, 0.7);
        color: rgba(255, 255, 255, 0.7);
    }
    .stopClick{     /* 禁止点击 */
        pointer-events:none;
    }
    /* 登录end */
    
    .gtco-header{
        padding-top: 200px;
        height: 600px;
    }
     /* 博客data */
     .blog-data-row{
        background: url('/imgs/blogbg.jpg') no-repeat;
        background-size: cover;
        position: relative;
    }
    .blog-data-row div{
        padding: 60px 0 30px 0;
    }
    .blog-data-row p:nth-child(2){  /*bfbfbf*/
        font-size: 50px;
        margin-bottom: 10px;
        color: #fff;
        font-weight: 100;
    }
    .blog-data-row p:nth-child(3){
        margin-bottom: 0;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
        letter-spacing: .1em;
    }
    /* end */
    /* me start */
    .me{
        padding: 50px 0;
    }
    .me-intro p{
        padding-right: 3%;
    }
    .me-intro div{
        width: 100%;
        color: white;
    }
    .me-intro P:nth-child(1){
        color: #FFC576;
        line-height: 17px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: left;
    }
    .me-intro P:nth-child(2){
        font-size: 40px;
        line-height: 52px;
        margin: 26px 0 0;
        color: white;
        text-align: left;
    }
    .me-intro P:nth-child(3){
        font-family: "HK Grotesk Legacy";
        color: #ffffff;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0;
        line-height: 26px;
        text-align: left;
        text-indent: 30px;
        margin-top: 15px;
    }
    .me-intro P:nth-child(4) a{
        text-decoration: none;
        color: white;
        font-family: "HK Grotesk Legacy";
        font-size: 12px;
    }
    .me img{
        width: 90%;
        height: 270px;
    }
}


/* 移动端-ipad */
@media (min-width: 768px) and (max-width: 768px) {
    .mob-logo{
        background-size: 20%;
    }
    .cancel-bt{
        padding-right: 3%;
    }
    .valieCode,.valieCode2,.loginVal{            /* 验证码输入框 */
        width: 460px;
    }
    .reginspan,.loginspan{
        font-size: 14px;
        color: white;
        margin-left: 44%;
    }
}  





